.blockContent {
    border: 1px solid #DDDDDD;
    padding: 50px 0 72px 0;
    height: 200px;
    div {
      text-align: center;
    }
    .base {
      img {
        background: #ffffff;
        margin-bottom: 7px;
        text-align: center;
      }
      div {
        color: #616061;
        font-style: Medium;
        line-height: 19.5px;
        vertical-align: Top;
        letter-spacing: 0.38px
      }
    }
  }