.block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  grid-template-areas: "Absent Absent Absent"
                      "Request Calendar Base"
                      "Events Events Notification";
  &Absent {
    grid-area: Absent;
  }
  &Request {
    grid-area: Request;
    background: green;
  }
  &Calendar {
    grid-area: Calendar;
    background: yellow;
  }
  &Base {
    grid-area: Base;
    background: #234232;
  }
  &Events {
    grid-area: Events;
  }
}