header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #FFFFFF;
  margin-bottom: 20px;
  height: 56px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  .headerWrapper {
    max-width: 1210px;
    @media screen and (max-width: 1200px) {
      max-width: 1075px;
    }
  }
  >div {
    display: flex;
    justify-content: space-between;
    >div {
      display: flex;
    }
    .logo {
      margin: 16px 0;
    }
    .message {
      display: flex;
      align-items: center;
      max-width: 172px;
      margin: 10px 0;
      margin-right: 41px;
      border: 1px solid #DDDDDD;;
      padding: 6px 12px;
      background: #F8F8F8;
      box-sizing: border-box;
      border-radius: 6px;
      img {
        @media screen and (max-width: 620px) {
        margin-left: 6px;
        }
      }
      div {
        font-weight: bold;
        color: #959595;
        @media screen and (max-width: 620px) {
          display: none;
        }
      }
      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }
    .profile {
      display: flex;
      margin: 10px 0;
      img {
        cursor: pointer;
      }
      &Info {
        @media screen and (max-width: 550px) {
          display: none;
        }
      }
      &Name {
        font-weight: bold;
        color: #1D1C1D
      }
      &Position {
        font-weight: normal;
        color: #959595;
        text-align: right;
      }
      &Avatar {
        margin: 0 20px;
      }
    }
  }
}