.blockContent {
    border: 1px solid #DDDDDD;
    padding: 58px 41px 80px 41px;
    height: 200px;;
    div {
      letter-spacing: 0.03em;
      // max-width: 248px;
      text-align: center;
      span {
      font-weight: bold;
      color: #FF4C00;
      background: #FFEEE6;
      border-radius: 6px;
      padding: 3px 8px;
      }
    }
  }

 