.blockContent {
    border: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    padding: 30px 40px 58px 40px;
    height: 200px;
    @media screen and (max-width: 1120px) {
      padding: 20px 30px 40px 40px;
    }
    .calendar {
      display: flex;
      flex-direction: column;
      align-items: center;
      &Date {
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 7px;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        &Month {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 900;
          font-size: 11px;
          line-height: 13px;
          text-align: center;
          letter-spacing: 0.12em;
          text-transform: uppercase;
          color: #FFFFFF;
          background: #DE2F2F;
          border-radius: 7px 7px 0px 0px;
        }
        &Num {
          padding: 5px 9px;
          color: #1D1C1D;
          font-weight: 900;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          letter-spacing: 0.12em;
          text-transform: uppercase;
        }
      }
      &Time {
        margin-bottom: 26px;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #616061;
        @media screen and (max-width: 1120px) {
          margin-bottom: 10px;
        }
      }
      &Title {
        letter-spacing: 0.03em;
        color: #000000;
      }
    }
  }